.App {
	text-align: center;
	min-height: 100vh;
}

html{
	background-color: #212529;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

li.page-item {
	border: none;
	background-color: transparent;
	a {
		background-color: transparent;
		color: #978cb3;
		border: 0.8px solid var(--bs-border-color-translucent);
	}
}

.page-primary {
	background-color: white;
}

.card {
	background-color: transparent;
	border: 0.8px solid inherit;
}

[class*="feat-"] * {
	animation: fadein 0.5s;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes fadein {
	from {
		opacity: 0;
		scale: 0.8;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

[class*="feat"],
[class*="bg-feat"] {
	* {
		transition: background-color cubic-bezier(0.9, -0.03, 0.18, 0.56) 0.5s;
	}
}

[class*="page-feat"] {
	transition: background-color cubic-bezier(0.9, -0.03, 0.18, 0.56) 0.5s;
}

.card{
	margin: 1em auto;
}